Presentation.WebApplication/Connected Services/ServiceWereHouse/ServiceWereHouse2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Core.DTO.WereHouse" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Core.DTO.WereHouse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProductsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductsDTO" nillable="true" type="tns:ProductsDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductsDTO" nillable="true" type="tns:ArrayOfProductsDTO" />
  <xs:complexType name="ProductsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fechaRegistro" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="marca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductsDTO" nillable="true" type="tns:ProductsDTO" />
</xs:schema>